REGISTRY_HOST=registry.host.here
NAMESPACE=cozyr
IMAGE_TAG=main

DB_BASE_URL=jdbc:<vendor>://<host>:<port>/<database>

# Environment for gateway
GATEWAY_SERVICE_PORT=8080

# Environment for identity service
IDENTITY_SERVICE_NAME=identity-service
IDENTITY_SERVICE_PORT=8081
IDENTITY_SERVICE_DB_USERNAME=identity_user
IDENTITY_SERVICE_DB_PASSWORD=change_me
IDENTITY_SERVICE_DB_SCHEMA=identity_schema

# Environment for board service
BOARD_SERVICE_NAME=board-service
BOARD_SERVICE_PORT=8082
BOARD_SERVICE_DB_USERNAME=board_user
BOARD_SERVICE_DB_PASSWORD=change_me
BOARD_SERVICE_DB_SCHEMA=board_schema