REGISTRY_HOST=registry.host.here
NAMESPACE=cozyr
IMAGE_TAG=main

DB_BASE_URL=jdbc:<vendor>://<host>:<port>/<database>

# Environment for gateway
GATEWAY_BIND_HOST=0.0.0.0
GATEWAY_BIND_PORT=8080
GATEWAY_SERVICE_PORT=8080

# Environment for identity service
IDENTITY_SERVICE_NAME=identity-service
IDENTITY_SERVICE_PORT=8081
IDENTITY_SERVICE_DB_USERNAME=identity_user
IDENTITY_SERVICE_DB_PASSWORD=change-me
IDENTITY_SERVICE_DB_SCHEMA=identity_schema
IDENTITY_SERVICE_ACTIVE_KID=key-...
IDENTITY_SERVICE_KEY_BASE_PATH=/run/cozyr/secrets

# Environment for board service
BOARD_SERVICE_NAME=board-service
BOARD_SERVICE_PORT=8082
BOARD_SERVICE_DB_USERNAME=board_user
BOARD_SERVICE_DB_PASSWORD=change-me
BOARD_SERVICE_DB_SCHEMA=board_schema

# Environment for statistics service
STATISTICS_SERVICE_NAME=statistics-service
STATISTICS_SERVICE_PORT=8083
STATISTICS_SERVICE_DB_USERNAME=statistics_user
STATISTICS_SERVICE_DB_PASSWORD=change-me
STATISTICS_SERVICE_DB_SCHEMA=statistics_schema